<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>灵识</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="cssmin/bootstrap">
      <!-- style css -->
      <link rel="stylesheet" href="css/style">
      <!-- responsive-->
      <link rel="stylesheet" href="css/responsive">
      <!-- awesome fontfamily -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <div class="header">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="images/logo_ls" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="#top_section">主页</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="yssm">隐私声明</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#we_do">体验 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="kg.wengsyx.com/LingYi/contact">联系我们</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
                  <div class="col-md-2 d_none">
                     <ul class="email text_align_right">
                        <li> <a href="med.wengsyx.com/admin"> Login </a></li>
                        <li> <a href="Javascript:void(0)"> <i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"> </i></a> </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->
      <!-- start slider section -->
      <div id="top_section" class=" banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption relative">
                                 <div class="bluid">
                                    <h1>灵 识  </h1><h1>LingQi </h1>
                                    <p>识文解义<br> 一言而明其理。
                                    </p>
                                    <a class="read_more" href="#we_do">开始使用</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption relative">
                                 <div class="bluid">
                                    <h1>灵 祈  </h1><h1>LingQi </h1>
                                    <p>Understand the meaning of the article <br> Enter a sentence to predict the preference of the article
                                    </p>
                                    <a class="read_more" href="#we_do">Start</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption relative">
                                 <div class="bluid">
                                    <h1>灵 祈  </h1><h1>LingQi </h1>
                                    <p>识文解义<br> 一言而明其理。

                                    </p>
                                    <a class="read_more" href="contact.html">联系我们 </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption relative">
                                 <div class="bluid">
                                    <h1>灵 祈  </h1><h1>LingQi </h1>
                                    <p>Understand the meaning of the article <br> Enter a sentence to predict the preference of the article
                                    </p>
                                    <a class="read_more" href="contact.html">Contact Us</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <i class="fa fa-angle-left" aria-hidden="true"></i>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end slider section -->
      <!-- we_do -->


      <div class="chose">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <div class="titlepage text_align_left">
                     <h2>灵识 特性</h2>
                  </div>
               </div>
               <div class="col-lg-4 col-md-10">
                  <div class="chose_box">
                     <i><img src="images/chose3" alt="#"/></i>
                     <h3>WASSA@ACL 2022</h3>
                     <strong>Champion</strong>
                     <a class="read_more" href="Javascript:void(0)">Learn More</a>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- end chose -->
      <!-- contact -->
      <div class="contact" id="we_do">
         <div class="container">
            <div class="row ">
               <div class="col-md-6">
                  <div class="titlepage text_align_left">
                     <h2>Torch</h2>
                  </div>
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Topic Sentences" type="type" Message="Name" name="message" id="message"></textarea>
                        </div>
                     </div>
                  </form>
                  <div class="col-md-12">
                           <a class="read_more" id="send_message" name="send_message"><strong>Send</strong></a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="titlepage text_align_left">
                     <h2>Calculate</h2>
                  </div>
                  <div id="clientsl" class="carousel slide our_clientsl" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#clientsl" data-slide-to="0" class="active"></li>
                        <li data-target="#clientsl" data-slide-to="1"></li>
                        <li data-target="#clientsl" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption posi_in">
                                 <div class="clientsl_text">
                                    <i><img src="images/clint" alt="#"/></i>
                                    <h3>LingShi : <img src="images/icon" alt="#"/></h3>
                                    <div id="demo" name="demo" id="demo">
                                    <p>(｡･∀･)ﾉﾞHey, what do you want to say?</p>
                                    <p></p>
                                    <br>
                                       </div>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact -->
      <!-- footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <a class="logo_footer" href="index.html"><img src="images/logo_ls" alt="#" /></a>
                  </div>
                  <div class="col-md-9">
                     <form class="newslatter_form">
                        <input class="ente" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="subs_btn">Sbscribe Now</button>
                     </form>
                  </div>
                  <div class="col-md-9 col-sm-6">
                     <div class="Informa helpful">
                        <h3>Useful  Link</h3>
                        <ul>
                           <li><a href="index.html">Home</a></li>
                           <li><a href="about.html">About</a></li>
                           <li><a href="we_do.html">What we do</a></li>
                           <li><a href="portfolio.html">Portfolio</a></li>
                           <li><a href="contact.html">Contact us</a></li>
                        </ul>
                     </div>
                  </div>

                  <div class="col-md-3 col-sm-6">
                     <div class="Informa conta">
                        <h3>contact Us</h3>
                        <ul>
                           <li> <a href="Javascript:void(0)"> <i class="fa fa-map-marker" aria-hidden="true"></i> Zhejiang China
                              </a>
                           </li>
                           <li> <a href="Javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i> Call +86 13968819182
                              </a>
                           </li>
                           <li> <a href="Javascript:void(0)"> <i class="fa fa-envelope" aria-hidden="true"></i> wengsyx@qq.com
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright text_align_left">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-6">
                        <p>2022@LINGJING</p>
                     </div>
                     <div class="col-md-6">
                        <ul class="social_icon text_align_center">
                           <li> <a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                           <li> <a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                           <li> <a href="Javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                           <li> <a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                           <li> <a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="jsmin/jquery"></script>
      <script src="jsmin/bootstrapm"></script>
      <script src="jsmin/jquery3"></script>
      <script src="js/custom"></script>
   </body>
</html>


<script type="text/javascript">//<![CDATA[
    $(function () {
                  $('#choice1').click(function () {
                  $('#message').val("有一天，在森林里兔子和乌龟比赛跑步，兔子嘲笑乌龟爬得慢。兔子飞快地跑着，乌龟拼命地爬着。但后来兔子认为比赛太轻松了，它要先睡一会，并且自以为是地说即使自己睡醒了乌龟也不一定能追上它。而乌龟呢，它一刻不停地爬行，乌龟想如果这时和兔子一样去休息，那比赛就不会赢了，所以乌龟继续地爬呀爬呀。当兔子醒来的时候乌龟已经到达终点了。")});
                  $('#choice2').click(function () {
                  $('#message').val("")});

                  $('#choice3').click(function () {
                  $('#message').val("在逃去如飞的日子里，在千门万户的世界里的我能做些什么呢？只有徘徊罢了，只有匆匆罢了；在八千多日的匆匆里，除徘徊外，又剩些什么呢？过去的日子如轻烟，被微风吹散了，如薄雾，被初阳蒸融了；我留着些什么痕迹呢？我何曾留着像游丝样的痕迹呢？我赤裸裸来到这世界，转眼间也将赤裸裸的回去罢？但不能平的，为什么偏要白白走这一遭啊？")});

                  $('#choice4').click(function () {
                  $('#message').val("首先，电冰箱买回来之后，这时候需要将电冰箱下面的底座去掉，主要是为了这样可以保证电冰箱随时可以散热。之后呢，需要注意的是电冰箱先不要急于通电，毕竟电冰箱在这么多次这么长时间的运输和颠簸中，也有可能电冰箱的制冷管路中会有一些水、油尘埃堵住。所以需要将电冰箱静止防止一小时以上，之后再将冰箱通电运行。")});

                  $('#choice5').click(function () {
                  $('#message').val("就业稳，得益于稳定恢复的中国经济，得益于就业优先的暖心政策。今年全国城镇新增就业稳步提升，10月就提前完成全年目标任务。 “十四五”开局之年，在党中央的坚强领导下，我们坚持就业优先，扎实推进各项工作，就业形势保持总体稳定、好于预期，为经济社会发展奠定了坚实基础，生动体现了以人民为中心的发展思想。")});

                  $('#choice6').click(function () {
                  $('#message').val("纳兰小姐，看在纳兰老爷子的面上，萧炎奉劝你几句话，三十年河东，三十年河西，莫欺少年穷”萧炎铮铮冷语，让得纳兰嫣然娇躯轻颤了颤武动乾坤。 “好，好一句莫欺少年穷我萧战的儿子，就是不凡”首位之上，萧战双目一亮，双掌重砸在桌面之上，溅起茶水洒落武动乾坤。")});

                  $('#message').click(function () {
                   if (!window.s) {
                   var socket = new WebSocket("ws://" + window.location.host + "/LG/");
                   socket.onopen = function () {
                       console.log("ws://" + window.location.host + "/LG/");//成功连接上Websocket
                   };
                   socket.onmessage = function (e) {
                       console.log('message: ' + e.data);//打印出服务端返回过来的数据
                        $('#demo').empty();
                       $('#demo').append('<p>'+e.data+'</p>');
                   };
                   // Call onopen directly if socket is already open
                   if (socket.readyState == WebSocket.OPEN) socket.onopen();
                   window.s = socket;
               } else {

               }


           });
                     $('#send_message').click(function () {
                     //如果未连接到websocket
                     $('#demo').empty()

                     if (!window.s) {
                         $('#demo').append('<p>'+'你有什么要问的？请在左边填一下。'+'</p>')
                     } else {
                     $('#demo').append('<p>'+'我已经收到了~，让我想想'+'</p>');
                         console.log($('#message').val());
                     window.s.send($('#message').val());//通过websocket发送数据
                     }
                     $('#message').val("")


                 });
    });
    //]]></script>